.hero{
    background: url(../../images/profile-min.jpg) no-repeat center center;
    background-size: cover;
    height: 100vh;
    text-align: center;
}

.content-wrapper{
    height: 100%;
    width: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-title{
    color: #fff;
    font-size: 115px;
    font-family: 'Raleway', sans-serif;
}

.btn-primary-n{
    color: #fff;
    border-color: #ffffff;
    transition: 0.5s all;
}

.btn-primary-n:hover{
    color: #fff;
    background: rgba(0,0,0,0.6);
}